<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDycXvJvpcvli3ZaJZs4vEiD61dBSGv8MA</string>
	<key>GCM_SENDER_ID</key>
	<string>845086325700</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>UTS.Advanced-iOS-AT2</string>
	<key>PROJECT_ID</key>
	<string>advanced-ios-at2-budgeting-app</string>
	<key>STORAGE_BUCKET</key>
	<string>advanced-ios-at2-budgeting-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:845086325700:ios:8feecd867edf241035c291</string>
</dict>
</plist>